/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
body {
  
  background: #eaebf1;
  color: #111;
  line-height: 1.6;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Header */
.header {
  font-family: 'inter', sans-serif;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 60px 160px 60px;
}

.logo {
  font-weight: 900;
  color: #4E47FF;
  font-size: 34px;
}

/* Hero */
.hero {
  background-image: url('./Assets/Hero-bg.png'); 
  height: 800px;

  background-position: center;    
  display: flex;
  justify-content: space-between;
  flex-direction: column;  
  text-align: center;

}
.hero-head {
  font-size: 2.5rem;
  vertical-align:text-top;
  height: 600px;
  display: flex;
  list-style: none;
  
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 
  margin-bottom: 180px;
  gap: 20px;
}

.hero-txt {
  font-size: 65px;
  font-weight: 700;
  color: #080808;
  margin-bottom: 50px;
}

/* Buttons */
.btn-primary {
  background-color: #4310eb;
  color: white;
  height: 48px;
  width: 132px;
  display: inline-block;
  font-size: 15px;
  border-radius: 10px;
  border-style: none;
  font-weight: bold;
  transition: all 0.4s;
  cursor: pointer;
  white-space: normal;
  text-align: center;
  

}

.btn-primary:hover {
  background-color: #3f00ff;
  transform: scale(1.1);
  color: black;
}

/* Action Section */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 60px 100px;
  margin: 10px 60px 160px 60px;
}
.action-section .text {
  flex: 1;
  padding: 100px 50px;
}
.action-section .image img {
  max-width: 100%;
  border-radius: 50px;
  margin-right: 55px;
}

.btn-secondary {
    background-color: #2a4bef;
    color: #e2e2f0;
  
    height: 48px;
    width: 200px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.btn-secondary:hover {
  background-color: #3f00ff;
  transform: scale(1.1);
  color: black;
}
.btn-tertiary {
    background-color: #1336e5;
    color: #e2e2f0;
  
    height: 48px;
  
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.btn-tertiary:hover {
  background-color: #4e1be9;
  transform: scale(1.1);
  color: black;
}









.custom-text {
    font-size: 40px;
  font-family: 'Raleway', sans-serif;
}
.sub-text {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  color: #b0b0b8;
}

/* Stats */
.stats-section {
  background-color:#4e47ff19;
  padding: 100px 50px;
  text-align: center;
  border-radius: 25px;
  margin: 10px 120px;
}

.stats-heading {
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: 700;
}

.stats-values {
  display: flex;
  justify-content: center;
  color: #4E47FF;
  font-size: 80px;
  font-weight: bold;
  margin: 10px 80px;
  padding: 0;
  list-style: none;
  gap: 200px;
}

.stats-labels {
  color: #000000;
  opacity: 0.5;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 80px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 200px;
}

.stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 30px 420px;
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
}
.stats li p {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  opacity: 0.5;
  margin-top: 10px;
}
.stats-line h3 {
     font-size: 80px;
     color: #4f46e5;
     margin-top: 30px;
     font-weight: bolder;
     font-family: "Inter", sans-serif;
}






/* Testimonials */
.testimonials {
  padding: 60px 0;
  text-align: center;
}

.testimonial-heading {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 50px;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.testimonial-card {
  background: #f3f5ff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: left;
}

.stars {
  margin-bottom: 30px;
}

.testimonial-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.testimonial-text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 35px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer-details p {
  font-size: 16px;
  font-weight: 600;
  
}

.reviewer-name {
  font-size: 16px;
  font-weight: 600;
  color: #727070e0;
}
.reviewer-date {
  font-family: ;
  font-size: 10px;
  font-weight: 400;
  color: #dbdbdb;
}
/* CTA Section */
.cta-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;  background-color: #FFFFFF;
  border-radius: 16px;
  margin: 20px 60px;
  margin: 100px 60px;
}

.cta-heading {
  margin: 80px 0 30px 0;
  font-size: 50px;
  font-weight: 700;
}

.cta-subtext {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 30px;
}

.cta-image {
  border-radius: 50px;
  margin-bottom: 80px;
  max-width: 100%;
}

/* Contact Form Section */
.contact-form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 20px;
  gap: 60px;
  flex-wrap: wrap;
  margin: 0 40px ;
}

.contact-heading {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 30px;
  flex: 1 1 40%;
}

.contact-form {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-input,
.form-textarea {
  padding: 15px 40px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.form-textarea {
  height: 150px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif
}
.form-input,.form-label,.form-textarea :hover {
  border-color: #e9e9ec;
}

/* footer */
.footer {
      background-color: white;
      padding: 80px 120px ;
      text-align: center;
    }
    .footer-box {
      margin-top: 20px;
    }
    .footer-box a {
      margin: 20px 20px;
      color: #666;
      text-decoration: none;
    }

    .footer p{
        color: #666;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .footer-logo {
    text-decoration: none;
    font-size: 80px;
    color: #4037ed;
    font-weight: 900;
    
    }

/* Utility */
.custom-padding {
  margin: 10px 60px 160px 60px;
}
